<header>
    <nav>
        <ul>
            <li><a href="{{ path('app_index') }}">Index</a></li>
            <li><a href="{{ path('app_html_index') }}">HTML</a></li>
            <li><a href="{{ path('app_css_index') }}">CSS</a></li>
        </ul>
    </nav>
</header>