{% extends 'base.html.twig' %}

{% block body %}

<h2>Page Accueil</h2>

{% if app.user %}
    <p>Vous êtes connecter en tant que {{ app.user.userIdentifier }}</p>
{% else %}
    <p class="padding-none">Veuillez vous connecter pour pouvoir consulter les autres pages.</p>
    <a class="a-menu accueil-connexion" href="{{ path('app_login') }}">Connexion</a>
{% endif %}

{% endblock %}