
/* Marges */

.margin-top-min
{
    margin-top: 10px;
}

.margin-right-min
{
    margin-right: 10px;
}

.margin-left-min
{
    margin-left: 10px;
}

.padding-bottom-none
{
    padding-bottom: 0;
}

.padding-none
{
    padding: 0;
}

/* Flash */

.success-flash
{
    background-color: green;
    width: 40%;

    margin: auto;
    margin-bottom: 20px;
    padding: 20px 0;
}

.success-flash p
{
    padding-bottom: 0;
}

.warning-flash
{
    background-color: red;
    width: 40%;

    margin: auto;
    margin-bottom: 20px;
    padding: 20px 0;    
}

.warning-flash p
{
    padding-bottom: 0;
}

/* Generic */

.hr
{
    width: 500px;

    margin: 20px auto;
    border: 1px solid #333;
}

.button-send
{
    display: inline-block;
    cursor: pointer;
    background-color: grey;
    width: 100px;

    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
}

.button-send:hover
{
    opacity: 0.9;
}

.card
{
    margin-bottom: 20px;
    padding: 20px 0;
    border: 1px solid #333;
}

.a-menu
{
    background-color: #322e2f;
    color: #fff;

    padding: 8px;
    border-radius: 10px;
}

.a-menu:hover
{
    opacity: 0.9;
}
