<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Worktable {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="#">
        {# Feuilles de styles #}
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {# Scripts JS #}
        <script type="text/javascript" src="{{ asset('js/script.js') }}" defer></script>
    </head>
    <body>
        {# Header #}
        {% include "_partials/_header.html.twig" %}

        {# Main #}
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>