#login div label
{
    font-size: 1.1em;
    display: block;

    margin-bottom: 10px;
}

#login_form_submit
{
    cursor: pointer;
    background: #a9a9a9;

    padding: 8px;
    border: 2px solid #333;
    border-radius: 5px;
}

#login_form_submit:hover
{
    opacity: 0.9;
}