#login div label
{
    font-size: 1.1em;
    display: block;

    margin-bottom: 10px;
}

#login_form_submit
{
    cursor: pointer;
    display: inline-block;
    width: 150px;
    text-align: center;
    background-color: #322e2f;
    color: #fff;

    padding: 8px;
    border: none;
    border-radius: 10px;
}

#login_form_submit:hover
{
    background-color: #fff;
    color: #322e2f;
    opacity: 0.9;
}